<div class="row">
  <h3>Purchases(<%= link_to "+", new_purchase_path %>)</h3>

  <% @purchases.each_with_index do |purchase, i| %>
    <ul>
      <li><b>Purchase <%= i + 1 %>: <%= number_to_currency purchase.price %></b></li>
    </ul>
  <% end %>
</div>
