<div class="content background-content ">
  <div class="row">
    <h3>New Purchase</h3>

    <ul>
      <% format_errors(@purchase).each do |m| %>
        <li class="message error"><%= m %></li>
      <% end %>
    </ul>

    <%= form_for @purchase, url: purchases_path(@purchase) do |f| %>
      <% @products.each do |product| %>
        <div class="row">
          <%= number_field_tag "products_quantity[#{ product.id }]", 0 %>
          <%= "#{ product.name }: #{ number_to_currency product.price }" %>
        </div>
      <% end %>

      <div class="row">
        <%= f.submit "Buy", class: "button-primary" %>
      </div>
    <% end %>
  </div>
</div>
