.container {
  width: 50%;
}

.background-primary {
  background-color: rgba(30, 174, 219, 0.18);
}

.content {
  border-radius: 5px;
  padding: 40px;

  &.background-content {
    background-color: #ffffff;
  }
}

.message {
  &.error {
    color: red;
  }
}
