<h3>Products(<%= link_to "+", new_product_path %>)</h3>

<% @products.each do |product| %>
  <ul>
    <li><b><%= product.name %></b></li>
    <li>Price: <%= product.price %></li>
    <li>Discounts</li>
    <% product.discounts.each do |discount| %>
      <li>
        <%=
          "IF #{ discount.condition_type } IS #{ discount.boundary } \
          #{ discount.condition_amount } THEN GOT #{ discount.discount_amount } \
          #{ discount.discount_type } OF DISCOUNT"
        %>
      </li>
    <% end %>
  </ul>
<% end %>
