<div class="content background-content ">
  <div class="row">
    <h3>New Product</h3>

    <ul>
      <% format_errors(@product).each do |m| %>
        <li class="message error"><%= m %></li>
      <% end %>
    </ul>

    <%= form_for @product, url: products_path(@product) do |f| %>
      <label>Name</label>
      <%= f.text_field :name %>

      <label>Price</label>
      <%= f.text_field :price, placeholder: "U$ 9.99" %>

      <label>Discounts</label>
      <%= f.fields_for :discounts do |df| %>
        <div class="row">
          IF
          <%=
            df.select :condition_type, options_for_select({
              "quantity": :quantity, "money_spent": :money_spent
            })
          %>
          IS
          <%=
            df.select :boundary, options_for_select({
              "equal": :equal, "less than": :less_than, "greater than": :greater_than
            })
          %>
          <%= df.text_field :condition_amount %>
          GIVES
          <%= df.text_field :discount_amount %>
          <%= df.select :discount_type, options_for_select({ "%": :percentage, "$": :money}) %>
          OF DISCOUNT
        </div>
      <% end %>

      <div class="row">
        <%= f.submit "Register", class: "button-primary" %>
      </div>
    <% end %>
  </div>
</div>
