<!DOCTYPE html>
<html>
  <head>
    <title>Local Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css',
      'application',
      media: 'all',
      'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background-primary">
    <div class="container content">
      <div class="row">
        <%= link_to "Products", products_path %>
        ::
        <%= link_to "Purchases", purchases_path %>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
